.bdy{
    font-family: Arial, Helvetica, sans-serif;
    display:table;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 10px;
    background-color: black;
}
input{
    width: 200px; 
    padding: 10px;
    margin: 10px;
    font-size:large;
}
#usertable {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(228, 18, 210);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: rgb(15, 193, 202);
  }
  
  th {
    background-color: #db0880;
  }